.Title {
  color: #393939;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 117.9%; /* 70.74px */
  width: 100%;
  max-width: 1152px;
}
@media (max-width: 428px) {
  .Title {
    font-size: 36px;
    line-height: 110%;
  }
}
.Calendar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.CardWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 50px;
}
@media (max-width: 428px) {
  .CardWrapper {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.calendarImage {
  padding-top: 40px;
  width: 100%;
  max-width: 1200px;
}
.mainFader {
  width: 100%;
  min-height: 350px;
  .loader {
    svg {
      height: 300px;
      display: block;
      margin: 0 auto;
      path {
        animation-duration: 1s;
        animation-name: pulse;
        animation-iteration-count: infinite;
        color: #e9013b;

        &.path7 {
          animation-delay: -1s;
        }
        &.path6 {
          animation-delay: -0.875s;
        }
        &.path5 {
          animation-delay: -0.75s;
        }
        &.path4 {
          animation-delay: -0.625s;
        }
        &.path3 {
          animation-delay: -0.5s;
        }
        &.path2 {
          animation-delay: -0.375s;
        }
        &.path1 {
          animation-delay: -0.25s;
        }
        &.path0 {
          animation-delay: -0.125s;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
.loading {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #f8f8f8;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
